# Compiled python modules
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# Model weights (Large files)
*.h5
*.onnx
*.pt

# Data / Logs
logs/
data/
*.wav
*.log

# IDEs
.vscode/
.idea/
